<#ftl encoding="UTF-8"/>

<!DOCTYPE HTML>

<html>

<head>

    <title>Ошибка</title>

</head>
<body>
    Во время выполнения операции произошла ошибка. Вернитесь на предыдущую страницу и повторите попытку.

    <h2>${message!"Пользователь не найден или пароль не совпал"}</h2>

</body>
</html>